/* header-top */
.header {
  position: relative;
  min-height: 155px;
  background-color: var(--white-color);

  &__info {
    position: relative;
    z-index: 1000;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--white-color);
  }

  &__menu {
    border-top: 1px solid var(--light-color);
    background-color: var(--white-color);
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 90px;
      height: 48px;
    }

    &:focus {
      outline: none;
    }
  }

  &__name {
    width: 240px;
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
    color: var(--primary-color);
  }

  &__center {
    display: flex;
    align-items: center;
    gap: 70px;
  }
}

.info-contact {
  padding-left: 25px;
  color: var(--black-color);
  background-repeat: no-repeat;

  &--phone {
    background-image: url("../images/phone.svg");
  }

  &--location {
    background-image: url("../images/location.svg");
  }

  &__link {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }

  &__subtitle {
    display: block;
    font-size: 12px;
    color: var(--light-gray-color);
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 16px 0;

  &__left {
    position: relative;
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__item {
    position: relative;
  }

  &__link {
    padding: 8px 10px;
  }

  &__search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 300px;
    border: 1px solid var(--light-color);
    border-radius: var(--border-radius-large);
    padding: 12px 50px 12px 20px;
    outline: none;
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: center right 20px;
    transition: 0.35s ease-out;

    &::placeholder {
      color: var(--gray-color);
      font-family: "Montserrat", sans-serif;
    }
  }

  &__search:focus {
    border-color: var(--primary-color);
    width: 100%;
  }

  &__dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 100;
    left: -35px;
    min-width: 250px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 15px 2px rgba(34, 60, 80, 0.2);
    padding: 20px 35px;
    background-color: var(--white-color);
    transition: all 0.2s ease;
  }
}

.nav__item:hover .nav__dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown {
  &__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

// Выдвижное меню при нажатии на бургер
.drop-nav {
  z-index: 10;
  position: fixed;
  right: 0;
  height: 100%;
  max-width: 1300px;
  width: 100%;
  padding: 60px 0 60px 0;
  overflow-y: auto;
  background-color: var(--white-color);
  transform: translateY(-1850px);
  transition: transform 0.3s ease;
  color: black;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__link {
    color: var(--black-color);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
}

// Выдвижное меню при нажатии на бургер (перемещается из скрытого положения)
.drop-nav-active .drop-nav {
  transform: translateY(0);
}

// Скрытие шапки для мобильных устройств на десктопах
.header-mobile {
  display: none;
}

// Добавления класса в шапку для фиксированного меню
.header.header--fixed .header__menu {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  box-shadow: 0px 4px 16px 0px rgba(150, 150, 150, 0.2);
}

// Медиа запросы
@media (max-width: 1280px) {
  .header {
    &__center {
      gap: 40px;
    }
  }

  .nav {
    &__search {
      width: 160px;
    }

    &__list {
      gap: 15px;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    min-height: 78px;

    &__menu {
      display: none;
    }

    &__name {
      display: none;
    }

    &__right {
      .btn {
        display: none;
      }
    }
  }

  .burger {
    display: block;
  }
}