/* questions */
.questions {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

.accordion {
  &__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: none;
    border-radius: 10px;
    outline: none;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    padding: 20px 50px 20px 20px;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    background-color: var(--white-color);
    transition: 0.4s;
    cursor: pointer;

    svg {
      position: absolute;
      right: 20px;
      transition: 0.3s;
    }

    svg path {
      transition: 0.9s;
    }

    &:focus,
    &:hover {
      background-color: var(--lightColor);
      svg path:first-child {
        stroke: var(--primary-color);
      }

      svg path:last-child {
        fill: var(--primary-color);
      }
    }

    &.active {
      // background-color: var(--light-color);
      background-color: var(--primary-color);
      color: white;

      svg {
        transform: rotate(-180deg);

        path:first-child {
          stroke: var(--white-color);
        }

        path:last-child {
          stroke: var(--white-color);
        }

      }
    }

  }

  &__text {
    position: relative;
    z-index: -1;
    top: -10px;
    max-height: 0;
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: var(--gray-color);
    transition: max-height 0.2s ease-out;
    background-color: var(--white-color);

    p {
      margin: 0;
      padding: 30px 20px 20px 20px;
      line-height: 1.3;
    }
  }
}
