@font-face {
  font-family: "Jost";
  src: local("Jost-Medium"), url("../fonts/Jost-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: local("Jost-Bold"), url("../fonts/Jost-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Monserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/* glob */
:root {
  --primary-color: #147fb9;
  --gray-color: #666666;
  --light-gray-color: #afafaf;
  --light-color: #dedede;
  --white-color: #ffffff;
  --black-color: #1d1d1d;
  --border-radius-large: 30px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--black-color);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 30px;
}

.body-hidden {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn-reset {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: block;
  min-width: 200px;
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius-large);
  padding: 12px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  background-color: var(--white-color);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.btn:focus-visible {
  outline: 1px solid var(--primary-color);
  outline-offset: 2px;
  border-color: var(--white-color);
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn:hover:not(:focus-visible) {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-color: var(--white-color);
}
.btn:active:not(:focus-visible) {
  background-color: #074464;
  color: var(--white-color);
}
.btn--dark {
  border: 1px solid var(--white-color);
  background-color: var(--primary-color);
  color: var(--white-color);
}
.btn--dark:focus-visible {
  outline: none;
  background-color: var(--white-color);
  color: var(--black-color);
}
.btn--dark:hover:not(:focus-visible) {
  background-color: var(--white-color);
  color: var(--black-color);
}
.btn--dark:active:not(:focus-visible) {
  background-color: #074464;
}

.burger {
  display: none;
  position: relative;
  height: 40px;
  width: 40px;
}
.burger__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 30px;
  background-color: var(--primary-color);
  transition: transform 0.2s ease-in-out, top 0.2s ease, bottom 0.2s ease, opacity 0.2s ease;
}
.burger__line:first-child {
  top: 20%;
  bottom: 0;
}
.burger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.burger__line:last-child {
  bottom: 20%;
}

.burger-active .burger__line:first-child {
  top: 50%;
  transform: rotate(45deg) translate(-5%, -50%);
}
.burger-active .burger__line:nth-child(2) {
  transform: rotate(45deg);
  opacity: 0;
}
.burger-active .burger__line:last-child {
  top: 50%;
  transform: rotate(-45deg) translate(5%, -50%);
}

.link {
  transition: color 0.3s ease, background-color 0.3s ease;
}
.link:hover:not(:focus-visible) {
  color: var(--primary-color);
}
.link:active:not(:focus-visible) {
  color: #386077;
}
.link:focus-visible {
  outline: none;
  background-color: rgb(253, 220, 142);
}
.link--light:hover:not(:focus-visible) {
  color: var(--white-color);
  text-decoration: underline;
}
.link--light:active:not(:focus-visible) {
  color: #c7e5f7;
}
.link--light:focus-visible {
  background-color: rgb(255, 194, 27);
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--light-color);
}
.section__title {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: var(--black-color);
}

@media (max-width: 1280px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section__title {
    font-size: 42px;
  }
}
.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10000;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.modal__window {
  position: absolute;
  width: 500px;
  min-height: 400px;
  padding: 60px 50px;
  background-color: var(--white-color);
  box-shadow: 1px 1px 15px 5px rgba(34, 60, 80, 0.3);
  transform: scale(0) perspective(300px) rotateX(30deg);
  transition: transform 0.5s ease;
}
.modal__btn-close {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.modal__btn-close svg line {
  transition: stroke 0.3s ease;
}
.modal__btn-close:hover svg line {
  stroke: red;
}
.modal__info {
  margin-bottom: 40px;
  text-align: center;
  font-size: 12px;
  color: var(--gray-color);
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal.open .modal__window {
  transform: scale(1);
}

.modal-form__input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #c7c7c7;
  padding: 15px 0;
}
.modal-form__input::placeholder {
  color: var(--gray-color);
}
.modal-form__input:not(:last-child) {
  margin-bottom: 30px;
}
.modal-form__input:focus ~ label, .modal-form__input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--primaryColor);
  font-size: 12px;
}
.modal-form__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}
.modal-form__title {
  font-size: 28px;
  font-family: "Exo2", sans-serif;
}
.modal-form__body {
  margin-bottom: 25px;
}
.modal-form__input-box {
  position: relative;
}
.modal-form__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 14px;
  color: var(--gray-olor);
  pointer-events: none;
  transition: 0.3s;
}
.modal-form__bottom {
  text-align: center;
}
.modal-form__btn {
  min-width: 180px;
  margin-bottom: 20px;
}
.modal-form__registration-link {
  color: var(--primary-color);
  font-weight: 600;
}
.modal-form__registration-link:hover {
  text-decoration: underline;
}
.modal-form__login-link {
  color: var(--primary-color);
  font-weight: 600;
}
.modal-form__login-link:hover {
  text-decoration: underline;
}

/* header-top */
.header {
  position: relative;
  min-height: 155px;
  background-color: var(--white-color);
}
.header__info {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__menu {
  border-top: 1px solid var(--light-color);
  background-color: var(--white-color);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo img {
  width: 90px;
  height: 48px;
}
.header__logo:focus {
  outline: none;
}
.header__name {
  width: 240px;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-color);
}
.header__center {
  display: flex;
  align-items: center;
  gap: 70px;
}

.info-contact {
  padding-left: 25px;
  color: var(--black-color);
  background-repeat: no-repeat;
}
.info-contact--phone {
  background-image: url("../images/phone.svg");
}
.info-contact--location {
  background-image: url("../images/location.svg");
}
.info-contact__link {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}
.info-contact__subtitle {
  display: block;
  font-size: 12px;
  color: var(--light-gray-color);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 16px 0;
}
.nav__left {
  position: relative;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}
.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav__item {
  position: relative;
}
.nav__link {
  padding: 8px 10px;
}
.nav__search {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  border: 1px solid var(--light-color);
  border-radius: var(--border-radius-large);
  padding: 12px 50px 12px 20px;
  outline: none;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  transition: 0.35s ease-out;
}
.nav__search::placeholder {
  color: var(--gray-color);
  font-family: "Montserrat", sans-serif;
}
.nav__search:focus {
  border-color: var(--primary-color);
  width: 100%;
}
.nav__dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 100;
  left: -35px;
  min-width: 250px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 15px 2px rgba(34, 60, 80, 0.2);
  padding: 20px 35px;
  background-color: var(--white-color);
  transition: all 0.2s ease;
}

.nav__item:hover .nav__dropdown {
  opacity: 1;
  visibility: visible;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 10px;
}

.drop-nav {
  z-index: 10;
  position: fixed;
  right: 0;
  height: 100%;
  max-width: 1300px;
  width: 100%;
  padding: 60px 0 60px 0;
  overflow-y: auto;
  background-color: var(--white-color);
  transform: translateY(-1850px);
  transition: transform 0.3s ease;
  color: black;
}
.drop-nav__list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.drop-nav__link {
  color: var(--black-color);
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.drop-nav-active .drop-nav {
  transform: translateY(0);
}

.header-mobile {
  display: none;
}

.header.header--fixed .header__menu {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 4px 16px 0px rgba(150, 150, 150, 0.2);
}

@media (max-width: 1280px) {
  .header__center {
    gap: 40px;
  }
  .nav__search {
    width: 160px;
  }
  .nav__list {
    gap: 15px;
  }
}
@media (max-width: 1024px) {
  .header {
    min-height: 78px;
  }
  .header__menu {
    display: none;
  }
  .header__name {
    display: none;
  }
  .header__right .btn {
    display: none;
  }
  .burger {
    display: block;
  }
}
/* hero */
.hero {
  overflow: hidden;
  position: relative;
  background-color: var(--primary-color);
}
.hero__container {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/doc.svg");
  background-repeat: no-repeat;
  background-position: center right 30px;
  background-size: 240px;
}
.hero__slide {
  background-color: var(--primary-color);
}
.hero__motto {
  display: inline-block;
  max-width: 890px;
  margin-bottom: 40px;
  font-size: 72px;
  line-height: 100%;
  font-family: "Jost", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
}
.hero__name {
  position: absolute;
  top: 86px;
  left: 650px;
  max-width: 450px;
  font-size: 24px;
  line-height: 100%;
}

@media (max-width: 1280px) {
  .hero__motto {
    font-size: 64px;
  }
}
.services__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.department {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border: 1px solid var(--light-color);
  border-radius: var(--border-radius-medium);
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.department__title {
  max-width: 170px;
  font-weight: 500;
  font-size: 14px;
}
.department__icon circle {
  transition: stroke 0.2s ease-in-out;
  stroke: var(--primary-color);
}
.department__icon path {
  transition: fill 0.2s ease-in-out;
  fill: var(--primary-color);
}
.department:focus-visible {
  outline: 1px solid var(--primary-color);
  outline-offset: 3px;
  background-color: var(--primary-color);
  color: var(--white-color);
}
.department:focus-visible .department__icon circle {
  stroke: var(--white-color);
}
.department:focus-visible .department__icon path {
  fill: var(--white-color);
}
.department:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.department:hover .department__icon circle {
  stroke: var(--white-color);
}
.department:hover .department__icon path {
  fill: var(--white-color);
}

@media (max-width: 1280px) {
  .services__list {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* news */
.news__swiper {
  overflow: hidden;
}
.news__item {
  height: auto;
  background-color: transparent;
}

.news-article {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid var(--light-color);
  border-radius: var(--border-radius-medium);
  padding: 170px 20px 20px 20px;
  background-color: var(--white-color);
}
.news-article__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: var(--border-radius-medium);
}
.news-article__date {
  position: absolute;
  top: -1px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 10px 10px;
  padding: 10px;
  background-color: var(--white-color);
  color: var(--black-color);
  font-weight: 600;
}
.news-article__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.news-article__text {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1.3;
  color: var(--gray-color);
}
.news-article__text p:not(:last-child) {
  margin-bottom: 10px;
}
.news-article__btn {
  margin-top: auto;
}

.slider-navigation {
  display: flex;
  gap: 20px;
}

/* questions */
.questions__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.accordion__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 50px 20px 20px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  background-color: var(--white-color);
  transition: 0.4s;
  cursor: pointer;
}
.accordion__button svg {
  position: absolute;
  right: 20px;
  transition: 0.3s;
}
.accordion__button svg path {
  transition: 0.9s;
}
.accordion__button:focus, .accordion__button:hover {
  background-color: var(--lightColor);
}
.accordion__button:focus svg path:first-child, .accordion__button:hover svg path:first-child {
  stroke: var(--primary-color);
}
.accordion__button:focus svg path:last-child, .accordion__button:hover svg path:last-child {
  fill: var(--primary-color);
}
.accordion__button.active {
  background-color: var(--primary-color);
  color: white;
}
.accordion__button.active svg {
  transform: rotate(-180deg);
}
.accordion__button.active svg path:first-child {
  stroke: var(--white-color);
}
.accordion__button.active svg path:last-child {
  stroke: var(--white-color);
}
.accordion__text {
  position: relative;
  z-index: -1;
  top: -10px;
  max-height: 0;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: var(--gray-color);
  transition: max-height 0.2s ease-out;
  background-color: var(--white-color);
}
.accordion__text p {
  margin: 0;
  padding: 30px 20px 20px 20px;
  line-height: 1.3;
}

/* about */
.about__wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.about__picture {
  height: 100%;
  border-radius: var(--border-radius-medium);
  object-fit: cover;
}
.about__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}
.about__text {
  margin: 0;
  color: var(--gray-color);
  font-size: 14px;
  line-height: 1.6;
}

.partners__container {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.partners__img {
  width: 150px;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
.partners__link {
  outline: none;
}
.partners__link:focus-visible img {
  filter: grayscale(0);
}
.partners__link:hover img {
  filter: grayscale(0);
}

.table-wrapper {
  overflow-x: auto;
  border-radius: var(--border-radius);
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  color: rgb(61, 61, 61);
}

td,
th {
  padding: 25px;
}

th {
  background-color: rgb(240, 240, 240);
}

tr:nth-child(2n) {
  background-color: rgb(240, 240, 240);
}

.vacancies__title {
  font-size: 36px;
  margin-bottom: 30px;
  color: var(--black-color);
}

.page-news__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.page-news__select {
  border-color: var(--primary-color);
  border-radius: 15px;
  padding: 10px 20px;
  outline: none;
  font-weight: 500;
}
.page-news__list {
  margin-bottom: 50px;
}
.page-news__btn {
  margin: 0 auto;
}

.article {
  display: flex;
  position: relative;
  height: 250px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: var(--border-radius);
  background-color: var(--white-color);
}
.article:not(:last-child) {
  margin-bottom: 30px;
}
.article__img {
  flex-shrink: 0;
  height: 100%;
  width: 300px;
  overflow: hidden;
  border-radius: var(--border-radius);
}
.article__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 30px;
}
.article__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 25px;
}
.article__title {
  max-width: 700px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Exo2", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #333;
}
.article__date {
  margin-bottom: 10px;
  color: var(--light-gray-color);
  padding-left: 19px;
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
}
.article__text {
  margin-bottom: 20px;
  line-height: 140%;
  text-align: justify;
  color: var(--gray-color);
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  display: box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}
.article__btn {
  margin-top: auto;
}

.news-single__wrapper {
  max-width: 1070px;
  margin-bottom: 50px;
}
.news-single__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 35px;
}
.news-single__title {
  max-width: 850px;
  text-transform: uppercase;
  font-size: 36px;
}
.news-single__date {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 20px;
  padding: 15px 20px;
  line-height: 140%;
  font-weight: 600;
}
.news-single__img {
  width: 100%;
  max-height: 500px;
  border-radius: 30px;
  margin-bottom: 25px;
  object-fit: cover;
}
.news-single__text {
  position: relative;
  margin-bottom: 50px;
  font-size: 16px;
  text-align: justify;
  line-height: 1.7;
}
.news-single__text p:not(:last-child) {
  margin-bottom: 10px;
}
.news-single__text ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -25px;
  background-color: var(--light-color);
}
.news-single__share {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 500;
}
.news-single__icons {
  display: flex;
  gap: 10px;
}
.news-single__icon svg path {
  transition: fill 0.3s ease;
}
.news-single__icon:focus {
  outline: none;
}
.news-single__icon:focus svg path {
  fill: var(--primary-color);
}
.news-single__icon:hover svg path {
  fill: var(--primary-color);
}
.news-single__subtitle {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

/* footer */
.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--white-color);
  background-color: var(--primary-color);
}
.footer__top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid var(--light-color);
  padding-bottom: 30px;
}
.footer__center {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.footer__title {
  margin: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-size: 20px;
}
.footer__btn:not(:last-child) {
  margin-bottom: 15px;
}

.social {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: end;
  align-self: end;
}
.social__logo {
  margin-bottom: 30px;
}
.social__icons {
  display: flex;
  gap: 13px;
  margin-bottom: 15px;
}
.social__icon svg path {
  transition: fill 0.3s ease;
}
.social__icon:hover svg path {
  fill: rgb(255, 240, 27);
}
.social__icon:focus {
  outline: none;
}
.social__icon:focus svg path {
  fill: rgb(255, 240, 27);
}

.contacts {
  max-width: 325px;
}
.contacts__email {
  display: inline-block;
  margin-bottom: 15px;
}
.contacts__address {
  margin-bottom: 15px;
  font-style: normal;
}
.contacts__phones {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.phone__title {
  display: block;
  margin-bottom: 3px;
  font-size: 12px;
  color: var(--light-color);
}

.footer-nav--left {
  text-align: right;
}
.footer-nav__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
}