.table-wrapper {
  overflow-x: auto;
  border-radius: var(--border-radius);
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  color: rgb(61, 61, 61);

}

td,
th {
  padding: 25px;
}

th {
  background-color: rgb(240, 240, 240);
}

tr:nth-child(2n) {
  background-color: rgb(240, 240, 240);
}

.vacancies {
  &__title {
    font-size: 36px;
    margin-bottom: 30px;
    color: var(--black-color);
  }
}
