<!-- about -->
<section class="section about">
  <div class="container about__container">
    <div class="section__top">
      <h2 class="section__title">О нас</h2>
      <button class="btn btn-reset" aria-label="Читать о больнице подробнее">Подробнее</button>
    </div>

    <div class="about__wrapper">
      <img class="about__picture" src="./images/about.jpg" alt="Воронежская областная клиническая больница">
      <div class="about__body">
        <h3 class="about__title">Основана в 1905 году</h3>
        <p class="about__text">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut qui maiores molestiae,
          dolore temporibus nisi aspernatur quibusdam quos, sunt rerum placeat distinctio officiis dolorem, nam incidunt
          quas asperiores magni ipsa.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta nam laboriosam
          deserunt id fugiat, dolore odit dolorum officia excepturi debitis incidunt temporibus voluptates odio. Quo
          quibusdam amet esse maiores facilis.
          Debitis eligendi numquam, accusantium architecto dolore consequatur amet veritatis nemo harum nostrum nam quos
          magni consectetur! sunt quibusdam eos iure labore, fugiat odio vel.
          Repellat fugiat quos obcaecati omnis perspiciatis id error, modi adipisci sint aut possimus exercitationem hic
          reiciendis, quo laborum ad corporis! Sit quas rem ratione expedita nemo vitae tenetur illum dolorem?
          Voluptates quisquam inventore quaerat qui maiores similique, totam saepe enim voluptate aliquam repellendus,
          vel laudantium? Debitis eligendi numquam, accusantium architecto dolore consequatur amet veritatis nemo harum nostrum nam quos
          magni consectetur! sunt quibusdam eos iure labore, fugiat odio vel.

        </p>
      </div>
    </div>

  </div>
</section>
<!-- /about -->