<header class="header">

  <!-- Врехняя часть шапки -->
  <div class="header__info">
    <div class="container header__container">

      <div class="header__left">
        <a class="header__logo logo" href="/">
          <img src="./images/logo.svg" width="90" height="48"
            alt="Логотип воронежской областной клинической офтальмологической больницы">
          <span class="header__name">
            Воронежская областная&nbsp;клиническая офтальмологическая больница
          </span>
        </a>
      </div>

      <div class="header__center">

        <div class="info-contact info-contact--phone">
          <a class="info-contact__link link" href="tel:+79999999999">+7 (473) 252 94 46</a>
          <span class="info-contact__subtitle">Call-центр</span>
        </div>

        <div class="info-contact info-contact--location">
          <a class="info-contact__link link" href="#">Революции 1905 г., 22</a>
          <span class="info-contact__subtitle">Пн - Сб, 08:00 - 20:00</span>
        </div>

      </div>

      <div class="header__right">

        <!-- <div class="header-mobile">
            <button class="header-mobile__search btn-reset">
              <img src="./images/icon-search.svg" alt="">
            </button>
  
            <button class="header-mobile__login btn-reset">
              <img src="./images/icon-login.svg" alt="">
            </button>
          </div> -->

        <button class="burger btn-reset">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>

        <button class="btn btn-reset" aria-label="Записаться на платный прием">
          Записаться
        </button>
      </div>

    </div>

  </div>


  <div class="header__menu">
    <div class="container">

      <nav class="header__nav nav">

        <div class="nav__left">
          <ul class="nav__list list-reset">

            <li class="nav__item">
              <a class="nav__link nav__link--drop link" href="#">О нас</a>

              <ul class="nav__dropdown dropdown list-reset">
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">О больнице</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">Наша история</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">Администрация</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">Доктора</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">Документы</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="./vacancies.html">Вакансии</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">Партнеры</a>
                </li>
              </ul>
            </li>

            <li class="nav__item">
              <a class="nav__link link" href="#">Отделения</a>
            </li>

            <li class="nav__item">
              <a class="nav__link link" href="./news.html">Новости</a>
            </li>

            <li class="nav__item">
              <a class="nav__link link" href="#">Пациентам</a>
            </li>

            <li class="nav__item">
              <a class="nav__link link" href="#">Контакты</a>
            </li>

            <li class="nav__item">
              <a class="nav__link link" href="#">Еще</a>
            </li>

          </ul>

          <input class="nav__search" type="text" name="search" placeholder="Поиск">

        </div>

        <div class="nav__right">
          <button class="header-bottom__btn btn btn-reset">
            Задать вопрос
          </button>
        </div>
      </nav>

    </div>
  </div>

  <div class="header__drop
    ">
    <nav class="drop-nav">
      <div class="container drop__container">
        <ul class="drop-nav__list list-reset" inert>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">О больнице</a></li>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">Контакты</a></li>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">Врачи</a></li>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">Услуги</a></li>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">Цены</a></li>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">Новости</a></li>
        </ul>
      </div>
    </nav>
  </div>

</header>