<header class="header">

  <div class="header__header-top header-top">
    <div class="header__container container">

      <div class="header-top__left">
        <a class="logo header__logo" href="/">
          <img src="./images/logo.svg" alt="Логотип больницы"/>
        </a>
        <div class="header__name">
          Воронежская <br />областная клиническая офтальмологическая больница
        </div>
      </div>

      <div class="header-top__center">
        <div class="info header__info header__info--phone">
          <a class="info__link link" href="tel:+79999999999">+7 (473) 252 94 46</a>
          <span class="info__subtitle">Call-центр</span>
        </div>
        <div class="info header__info header__info--location">
          <a class="info__link link" href="#">Революции 1905 г., 22</a>
          <span class="info__subtitle">Пн - Сб, 08:00 - 20:00</span>
        </div>
      </div>

      <div class="header-top__right">

        <div class="header-mobile">
          <button class="header-mobile__search btn-reset">
            <img src="./images/icon-search.svg" alt="">
          </button>

          <button class="header-mobile__login btn-reset">
            <img src="./images/icon-login.svg" alt="">
          </button>

          <button class="burger btn-reset">
            <span class="burger__line"></span>
            <span class="burger__line"></span>
            <span class="burger__line"></span>
          </button>
        </div>

        <button id="btn-login" class="btn btn-reset btn--login">
          Личный кабинет
        </button>
      </div>

    </div>
  </div>

  <div class="header__header-bottom header-bottom">
    <div class="container">
      <nav class="nav header__nav">
        <div class="nav__left">
          <ul class="nav__list list-reset">
            <li class="nav__item">
              <a class="nav__link link" href="#">О больнице</a>
              <ul class="nav__dropdown dropdown list-reset">
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">О нас</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">Отделения</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">История</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">Пациенту</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="">Документы</a>
                </li>
                <li class="dropdown__item">
                  <a class="dropdown__link link" href="./vacancies.html">Вакансии</a>
                </li>
              </ul>
            </li>
            <li class="nav__item">
              <a class="nav__link link" href="#">Контакты</a>
            </li>
            <li class="nav__item">
              <a class="nav__link link" href="#">Врачи</a>
            </li>
            <li class="nav__item">
              <a class="nav__link link" href="#">Услуги</a>
            </li>
            <li class="nav__item">
              <a class="nav__link link" href="#">Цены</a>
            </li>
            <li class="nav__item">
              <a class="nav__link link" href="./news.html">Новости</a>
            </li>
          </ul>
          <div class="header-bottom__searh-container">
            <form action="">
              <input class="header-bottom__search" type="text" placeholder="Поиск"/>
            </form>
          </div>
        </div>

        <div class="nav__right">
          <button class="header-bottom__btn btn btn-reset">
            Записаться на прием
          </button>
        </div>
      </nav>
    </div>
  </div>

  <div class="header__drop drop">
    <nav class="drop-nav">
      <div class="container drop__container">
        <ul class="drop-nav__list list-reset" inert>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">О больнице</a></li>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">Контакты</a></li>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">Врачи</a></li>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">Услуги</a></li>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">Цены</a></li>
          <li class="drop-nav__item"><a href="" class="drop-nav__link">Новости</a></li>
        </ul>
      </div>
    </nav>
  
  </div>

</header>
