<!-- <section class="section hero">
  <div class="container hero__container">
    <h1 class="hero__title">
      <span class="hero__motto">Охраняем<br />зрение более 100 лет</span>
    </h1>
    <button class="btn btn-reset">Задать вопрос</button>
  </div>
</section> -->

<section class="hero">
  <h1 class="hero__title visually-hidden">
    Воронежская областная клиническая офтальмологическая больница
  </h1>
  <div class="swiper-wrapper">

    <div class="hero__slide swiper-slide">
      <div class="container hero__container">
        <span class="hero__motto">Охраняем зрение более 100 лет</span>
        <button class="btn btn-reset hero__btn">Задать вопрос</button>
      </div>
    </div>

    <div class="hero__slide swiper-slide">
      <div class="container hero__container">
        <span class="hero__motto">Новое современное оборудование</span>
        <button class="btn btn-reset hero__btn">Подробнее</button>
      </div>
    </div>

    <div class="hero__slide swiper-slide">
      <div class="container hero__container">
        <span class="hero__motto">Лучшие врачи-офтальмологи</span>
        <button class="btn btn-reset hero__btn">Подробнее</button>
      </div>
    </div>

  </div>
</section>