<section class="section news">
  <div class="container news__container">

    <div class="section__top">
      <h2 class="section__title">Новости</h2>
      <button class="btn btn-reset">Все новости</button>
    </div>

    <div class="news__swiper">
      <ul class="news__list list-reset swiper-wrapper">
        <li class="news__item swiper-slide">
          <img class="news__img" src="./images/news-stub.jpg" alt="">
          <div class="news__date date">
            <span class="date__day">20.03</span>
            <span class="date__year">2024</span>
          </div>
          <div class="news__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis blanditiis dolorum dolor tenetur quae
              velit! Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Odit hic ducimus enim quas deserunt cum blanditiis facilis ipsam voluptatem rerum at.</p>
          </div>
          <button class="btn btn-reset news__btn">Читать далее</button>
        </li>

        <li class="news__item swiper-slide">
          <img class="news__img" src="./images/news-stub.jpg" alt="">
          <div class="news__date date">
            <span class="date__day">20.03</span>
            <span class="date__year">2024</span>
          </div>

          <div class="news__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis blanditiis dolorum dolor tenetur quae
              velit!</p>
          </div>

          <button class="btn btn-reset news__btn">Читать далее</button>
        </li>

        <li class="news__item swiper-slide">
          <img class="news__img" src="./images/news-stub.jpg" alt="">
          <div class="news__date date">
            <span class="date__day">20.03</span>
            <span class="date__year">2024</span>
          </div>

          <div class="news__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis blanditiis dolorum dolor tenetur quae
              velit!</p>
          </div>

          <button class="btn btn-reset news__btn">Читать далее</button>
        </li>

        <li class="news__item swiper-slide">
          <img class="news__img" src="./images/news-stub.jpg" alt="">
          <div class="news__date date">
            <span class="date__day">20.03</span>
            <span class="date__year">2024</span>
          </div>

          <div class="news__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis blanditiis dolorum dolor tenetur quae
              velit!</p>
          </div>

          <button class="btn btn-reset news__btn">Читать далее</button>
        </li>

        <li class="news__item swiper-slide">
          <img class="news__img" src="./images/news-stub.jpg" alt="">
          <div class="news__date date">
            <span class="date__day">20.03</span>
            <span class="date__year">2024</span>
          </div>

          <div class="news__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis blanditiis dolorum dolor tenetur quae
              velit!</p>
          </div>

          <button class="btn btn-reset news__btn">Читать далее</button>
        </li>

        <li class="news__item swiper-slide">
          <img class="news__img" src="./images/news-stub.jpg" alt="">
          <div class="news__date date">
            <span class="date__day">20.03</span>
            <span class="date__year">2024</span>
          </div>

          <div class="news__text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis blanditiis dolorum dolor tenetur quae
              velit!</p>
          </div>

          <button class="btn btn-reset news__btn">Читать далее</button>
        </li>
      </ul>
    </div>

  </div>
</section>