<section class="section partners">
  <div class="container partners__container">
    <a class="partners__link" href="#"><img class="partners__img" src="./images/work-in-russia.svg" alt=""></a>
    <a class="partners__link" href="#"><img class="partners__img" src="./images/prodoctorov.svg" alt=""></a>
    <a class="partners__link" href="#"><img class="partners__img" src="./images/gosuslugi.svg" alt=""></a>
    <a class="partners__link" href="#"><img class="partners__img" src="./images/kaspersky.svg" alt=""></a>
    <a class="partners__link" href="#"><img class="partners__img" src="./images/mincifry.svg" alt=""></a>
    <a class="partners__link" href="#"><img class="partners__img" src="./images/cz.svg" alt=""></a>
  </div>
</section>