<!-- services -->
<section class="section services">
  <div class="container services__container">

    <div class="section__top">
      <h2 class="section__title">Наши услуги</h2>
      <!-- <button class="btn btn-reset">Все услуги</button> -->
      <a class="btn btn-reset" href="#">Все услуги</a>
    </div>

    <ul class="services__list list-reset">

      <li class="services__item">
        <a class="services__card card" href="#">
          <h3 class="card__title">1 отделение</h3>
          <div class="card__body">
            <p class="card__text">Отделение рассчитано на 45 коек и является отделением смешанного типа: консервативное лечение и гнойная хирургия. В отделении осуществляется консервативное лечение взрослых больных</p>
          </div>
          <div class="card__btn btn btn-reset">Подробнее</div>
        </a>
      </li>

      <li class="services__item">
        <a class="services__card card" href="#">
          <h3 class="card__title">2 отделение</h3>
          <div class="card__body">
            <p class="card__text">Отделение рассчитано на 45 коек и является отделением смешанного типа: консервативное лечение и гнойная хирургия. В отделении осуществляется консервативное лечение взрослых больных</p>
          </div>
          <div class="card__btn btn btn-reset">Подробнее</div>
        </a>
      </li>

      <li class="services__item">
        <a class="services__card card" href="#">
          <h3 class="card__title">3 отделение</h3>
          <div class="card__body">
            <p class="card__text">Отделение микрохирургии детского возраста основано 38 лет назад в 1979 г., рассчитано на 50 коек. Ежегодно у нас получаеют лечение около 2 тыс. детей. За год мы проводим около 1,5 тыс. операций.</p>
          </div>
          <div class="card__btn btn btn-reset">Подробнее</div>
        </a>
      </li>

      <li class="services__item">
        <a class="services__card card" href="#">
          <h3 class="card__title">4 отделение</h3>
          <div class="card__body">
            <p class="card__text">Отделение рассчитано на 45 коек и является отделением смешанного типа: консервативное лечение и гнойная хирургия. В отделении осуществляется консервативное лечение взрослых больных</p>
          </div>
          <div class="card__btn btn btn-reset">Подробнее</div>
        </a>
      </li>

      <li class="services__item">
        <a class="services__card card" href="#">
          <h3 class="card__title">5 отделение</h3>
          <div class="card__body">
            <p class="card__text">Отделение рассчитано на 45 коек и является отделением смешанного типа: консервативное лечение и гнойная хирургия. В отделении осуществляется консервативное лечение взрослых больных</p>
          </div>
          <div class="card__btn btn btn-reset">Подробнее</div>
        </a>
      </li>

      <li class="services__item">
        <a class="services__card card" href="#">
          <h3 class="card__title">6 отделение</h3>
          <div class="card__body">
            <p class="card__text">Отделение рассчитано на 45 коек и является отделением смешанного типа: консервативное лечение и гнойная хирургия. В отделении осуществляется консервативное лечение взрослых больных</p>
          </div>
          <div class="card__btn btn btn-reset">Подробнее</div>
        </a>
      </li>

      <li class="services__item">
        <a class="services__card card" href="#">
          <h3 class="card__title">ЛККЗ</h3>
          <div class="card__body">
            <p class="card__text">Отделение рассчитано на 45 коек и является отделением смешанного типа: консервативное лечение и гнойная хирургия. В отделении осуществляется консервативное лечение взрослых больных</p>
          </div>
          <div class="card__btn btn btn-reset">Подробнее</div>
        </a>
      </li>

      <li class="services__item">
        <a class="services__card card" href="#">
          <h3 class="card__title">КДЛ</h3>
          <div class="card__body">
            <p class="card__text">Отделение рассчитано на 45 коек и является отделением смешанного типа: консервативное лечение и гнойная хирургия. В отделении осуществляется консервативное лечение взрослых больных</p>
          </div>
          <div class="card__btn btn btn-reset">Подробнее</div>
        </a>
      </li>

    </ul>

  </div>
</section>
<!-- /services -->
