/* glob */
:root {
  // colors
  --primary-color: #147fb9;
  --gray-color: #666666;
  --light-gray-color: #afafaf;
  --light-color: #dedede;
  --white-color: #ffffff;
  --black-color: #1d1d1d;

  --border-radius-large: 30px;
  --border-radius-medium: 20px;
  --border-radius-small: 10px;
}
